<h1>Nascar Forum</h1>
<img src="http://carpaper.net/wp-content/uploads/2014/02/nascar-logo-picture.jpg">

<h3>Welcome to the Nascar Forum</h3>

<form action="/entry/<%= @entry["id"] %>" method="POST">
  <fieldset>
    <legend align="center">Nascar Forum</legend>
    <div class="inputs">
    <label for="user">Username</label>
    <input type="text" name="user" value="<%= @entry["user"]%>" id="new_username">
    <input type="hidden" name="_method" value="PUT">
    <label for="topic">Topic</label>
    <input id="topic" name="topic"><br>
    <label for="post">Post</label>
    <input id="post" name="post"><br>
    <label for="comment">Comments</label>
    <input id="comment" name="comment">
    </div>
    <input type="submit" value="Submit">
  </fieldset>
</form>


