<h1>Nascar Forum</h1>

<div id="login">
<% if session[:access_token] %>
  <a href="/logout">Logout</a>
<% else %>
  <a href="<%= @url %>">Login with FOURSQUARE</a>
<% end %>
</div>
<ul>
<% @entry.each do |entry| %>
  <li>
    <a href="/entry/<%= entry["id"] %>"><%= entry["topic"] %></a>
  </li>
<% end %>
</ul>
<a href="/entry/new">Add a topic</a>
