<div id="topic_display">
<h1> <%= @entry["topic"] %> </h1>
    <%=   %>
</div>


<div id="comments">
<form action="/leave_comment" method="POST">
  <label for="user">Username</label>
  <input type="text" name="user">
  <label for="body">Message</label>
  <input type="text" name="body">
  <input type="submit" value="Leave a message">
</form>
</div>
