<div id="heading">
  <h1>Nascar Forum</h1>
</div>

<div id="comments">
<form action="/entries" method="POST">
  <label for="user">Username</label>
  <input type="text" name="user">
  <label for="body">Message</label>
  <input type="text" name="body">
  <input type="submit" value="Leave a message">
</form>
</div>
