<div id="heading">
  <h1>Nascar Forum</h1>
</div>

<div id="form">
<form action="/entries" method="POST">
  <label for="user">Username</label>
  <input type="text" name="user">
  <label for="topic">Topic</label>
  <input type="text" name="topic">
  <input type="submit" value="Create topic">
</form>
</div>




