
<h1>Nascar Forum</h1>
<img src="http://carpaper.net/wp-content/uploads/2014/02/nascar-logo-picture.jpg">
<br>
<br>
<div id="posting">
  <div id="heading">
    <%= @post %>
  </div>
  <div id="body">
    <%= @thread %>
  </div>
</div>

<%= @redis %>
