<div id="heading">
  <h1>Nascar Forum</h1>
  <form action="/new_topic">
    <input type="submit" value="Submit a new topic">
  </form>
</div>

<div id="topic_heading">
  <% @post.each do |post| %>
    <a href="/topic/<%= post['id'] %>"><h3><%= post["topic"] %></h3></a>
    <%= "posted by #{post["user"]}  #{@timestamp}"  %>
  <% end %>
</div>








