body {
  font-family: 'Open Sans' , sans-serif;
  margin: 0;
  background-color: #0046F9;
}

#posting {
  width: 500px;
  height: 100px;
  border-style: solid;
  background-color: white;
  margin: 5px;
}

#topic {


}

#post {
  height: 2em;
}

#login {
  text-align: center;
  font-size: 3em;
  background-color: red

}

.inputs {
  background-color: red
  text: center;
}
