/*<---- genral layout ---->*/
body {
  font-family: 'Open Sans' , sans-serif;
  margin: auto;
  width: 80%;
  background-color: #0046F9;
}

a {
  color: black;
}


#heading {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

h1 {
  position: relative;
  bottom: 15px;
}

/*<---- New Topic Form ---->*/


#form {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

#comments {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}


/*<---- Topics Display ---->*/

#topic_display {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

#topic_heading {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

#messages {
 margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

/*<---- Login Page ---->*/

#login {
  margin: auto;
  width: 500px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: grey;
  border: black solid;
  box-shadow: 5px 5px;
}

#foursquare {
  font-size: 3em;
  color: red;
}

